{erl_opts, [
  debug_info
]}.

{deps, [
  %jsx
  jsone
]}.

{escript_incl_apps, ['sourcetrail-disasm', jsone]}.
{escript_main_app, 'sourcetrail-disasm'}.
{escript_name, 'sourcetrail-disasm'}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
